/* ---------- root variables ---------- */
:root {
  --bgc: #e7e3e2;
  --f1: #909090;
  --f2: #404040;
  --f3: #f257a0;
  --f4: #f2c2c6;
  --f5: #add9d4;
  --f6: #03658c;
}

/* ======================================= user agent stylesheet ======================================= */
:-webkit-any(article, aside, nav, section) :-webkit-any(article, aside, nav, section) h1 {
  margin-block-start: 1em;
  margin-block-end: 0em;
}

/* ======================================= General styling ======================================= */

html {
  font-family: Segoe UI, sans-serif;
  height: 100%;
  text-align: center;
  color: var(--f2);
}

body {
  margin: auto;
  background-color: var(--bgc);
}

#bg-billede {
  position: fixed;
  z-index: -9999;
  right: 0;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
}

h1 {
  font-family: blakely, sans-serif;
  font-size: 3em;
  color: var(--f2);
  margin: 0;
}

h2 {
  font-size: 1.5em;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

h3 {
  font-size: 2em;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0;
  margin-inline-end: 0;
  font-weight: 400;

}

h4 {
  display: block;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: 400;
  font-size: 1.2em;
}


figure {
  display: block;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0em;
  margin-inline-end: 0em;
}

figcaption {
  font-size: 1.5em;
  font-weight: bold;
}

a {
  text-decoration: none;
  display: block;
  z-index: 20;
}

/* ===================================== nav styling ===================================== */
header {
  display: block;
  background-color: var(--bgc);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: 50px;
}

.logo {
  display: none;
}

  nav {
    display: block;
    z-index: 9999;
    text-align: right;
    text-align: center;
  }

  nav ul li {
    list-style-type: none;
    display: inline-block;
  }

  nav ul li a {
    display: inline-block;
    padding: 0 0.5em 2px 0.5em;
    font-size: 1.5em;
    font-family: blakely, sans-serif;
    font-weight: 600;
    text-decoration: none;
    color: var(--f2);
  }


  nav ul li.active a {
    color: var(--f3);
    transition: 0.3s;
  }


  ul {
    padding-inline-start: 0px;
  }

/* ======================================= page styling ======================================= */
.page {

  /*min-heigh er screen-heigh minus højde af tab and top bar */
  min-height: calc(100vh - 110px);
  animation: fadeIn 0.4s;
  /* padding bestemmer højden på tabbar and topbar */
  padding: 30px 0 10px 0;
  overflow: hidden;
}

/* ------------- sideskift animations ---------- */
/* fade in */
@keyframes fadeIn {
  from {
    opacity: 0
  }

  to {
    opacity: 1
  }
}

/*============================== grid container styling =============================== */
.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
}

.beskrivelse {
  display: none;
}

.fremvisning {
  display: none;
}

/* ======================================= Om mig ======================================= */

.udforsk {
  width: 90%;
}

/* ---------- billeder ---------------*/

.billede-mobil {
  height: 300px;
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

#velkomst-billede-mobil {
  background-image: url(../img/b1n.png);
}

#info-billede-motivation {
  background-image: url(../img/analyserende.png);
}

.kompetancer {
  margin-top: 7em;
}

.flex {
  display: flex;
  margin: 3em 0;
  justify-content: center;
  flex-wrap: wrap;
  transition: 0.5s;
}

.kompB {
  height: 90%;
}

.kompFig {
  height: 300px;
  width: 300px;
  padding: 1em;
  margin-bottom: 2em;
}

.omMig-text {
  width: 600px;
  text-align: left;
  padding: 2em;
}

.omMig-text h2 {
  text-align: center;
}

/* ======================================= Portfolio ======================================= */

.project-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 3em;
  margin-top: 3em;
}

.project-grid>div {
  justify-self: center;
}

.project-grid>div figure {
  display: block;
  border: 5px solid var(--f1);
  cursor: pointer;
  text-align: center;
  justify-self: center;
  height: 14em;
  width: 14em;
}



.project-grid>div:hover figure {
  box-shadow: 0 8px 16px 0 var(--f2);
  border: 5px solid var(--f3);
  transition: 0.3s;
  background-color: var(--bgc);
}

.project-grid>div figcaption {
  background-color: #f257a0a6;
  height: 100%;
  transition: 0.5s;
  display: none;
}

.project-grid>div:hover figcaption {
  display: block;
}


.project-grid>div figure a {
  align-self: center;
  font-weight: 700;
  color: transparent;
  text-decoration: underline;
  padding: 38% 0;
}

.project-grid>div figure .portfolio-title {
  display: none;
}

.project-grid>div figure .porfolio-kategori {
  display: none;
}


.project-grid>div .item-kasse {
  background-size: cover;
  justify-self: center;
}

.project-grid>div #item1 {
  background-image: url(../img/podCutMockUp.png);
}

.project-grid>div #item2 {
  background-image: url(../img/kildehunden.png);
}

.project-grid>div #item3 {
  background-image: url(../img/podCutMockUp.png);
}

.project-grid>div #item4 {
  background-image: url(../img/podCutMockUp.png);
}




/* =================================== Portfolio Modal =================================== */




.portfolio-modal {
  position: fixed;
  z-index: 10;
  top: 3em;
  bottom: 1em;
  right: 1em;
  left: 1em;
  background-color: var(--bgc);
  border: 10px solid var(--f3);
  overflow-y: scroll;
  box-shadow: 0 0 0 10em #40404060;
  transition: 0.5s;
  display: none;
}

.is-open {
  display: block;
}


.modal-close {
  position: fixed;
  top: 3em;
  left: 0.5em;
  background: transparent;
  height: 50px;
  width: 50px;
  background-image: url(../img/luk.png);
  background-position: center;
  border: none;
  transition: 0.5s;
}

.modal-grid {
  display: grid;
  grid-template-columns: 1fr;
  text-align: left;
}

.modal-grid img {
  padding: 1em 0 0 0;
}

.mockup1 {
  justify-self: center;
}

.mockup2 {
  justify-self: center;
}

.modal-grid>.modal-stats {
  padding: 0 2em;
}

.modal-grid>.modal-beskrivelse {
  padding: 0 2em 0 2em;
}

.project-grid>div .prototype-knap {
  display: block;
  color: var(--f3);
  background-color: var(--f4);
  width: 100px;
  padding: 0.5em 1em 0.6em 1em;
  box-shadow: 2px 4px 5px 0 var(--f5);
  font-weight: 700;
  text-decoration: none;
  position: relative;
  z-index: 100000;
}

.project-grid>div img {
  max-width: 60%;
  height: auto;
}




/* ======================================================================================= */
/* ===================================== MEDIA QUERY ===================================== */
/* ======================================================================================= */

@media (min-width: 960px) {

  body {
    padding: 0 2em;
  }

  h1 {
    font-size: 4em;
  }
  
  h2 {
    font-size: 2em;
  }
  
  h3 {
    font-size: 2em;
  
  }
  
  h4 {
    font-size: 1.2em;
  }

  figcaption {
    font-size: 2em;
    font-weight: bold;
  }
  
  a {
    z-index: 20;
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3em;
    flex-wrap: wrap;
    background-color: var(--bgc);
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    height: 80px;
  }

  .logo {
    font-family: blakely, sans-serif;
    font-size: 3em;
    color: var(--f2);
    text-align: left;
    z-index: 10000;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    width: 250px;
    display: block;
  }

  .billede-mobil {
    display: none;
  }

  /* page styling ======================================= */
  .page {
    /*min-heigh er screen-heigh minus højde af tab and top bar */
    min-height: calc(100vh - 100px);
    animation: fadeIn 0.4s;
    /* padding bestemmer højden på tabbar and topbar */
    padding: 100px 0 10px 0;
    overflow: hidden;
  }

  /*  nav styling ===================================== */
  nav {
    display: block;
    z-index: 9999;
    text-align: right;
    width: 350px;
    text-align: center;
  }

  nav ul li {
    list-style-type: none;
    display: inline-block;
  }

  nav ul li a {
    display: inline-block;
    padding: 0 0.5em 2px 0.5em;
    font-size: 1.5em;
    font-family: blakely, sans-serif;
    font-weight: 600;
    text-decoration: none;
    color: var(--f2);
  }


  nav ul li.active a {
    color: var(--f3);
    transition: 0.3s;
  }

  .nav-link:hover {
    color: var(--f6);
  }

  ul {
    padding-inline-start: 0px;
  }




  /* Social icon styling ===================================== */

  .social-icon-top {
    display: flex;
    justify-content: flex-end;
    width: 250px;
  }

  .social-icon-top a {
    padding: 0 1em 2px 0;
  }

  .social {
    height: 2em;
    width: 2em;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
  }

  .sIN {
    background-image: url(../img/linkedin.png);
  }

  .sIN:hover {
    background-image: url(../img/linkedin2.png);
  }

  .sINSTA {
    background-image: url(../img/insta.png);
  }

  .sINSTA:hover {
    background-image: url(../img/insta2.png);
  }

  .sMAIL {
    background-image: url(../img/mail.png);
  }

  .sMAIL:hover {
    background-image: url(../img/mail2.png);
  }

  /* grid-container styling =============================== */

  .grid-container {
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1.4fr 0.6fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-auto-columns: 1fr;
    gap: 1em 1em;
    grid-auto-flow: row;
    grid-template-areas:
      "beskrivelse beskrivelse fremvisning fremvisning fremvisning fremvisning"
      "beskrivelse beskrivelse fremvisning fremvisning fremvisning fremvisning";
  }

  .beskrivelse {
    display: block;
    grid-area: beskrivelse;
    align-self: flex-start;
    justify-self: center;
  }

  .fremvisning {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.3fr 1.4fr 1.4fr 0.3fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      ". emne1 emne1 ."
      "emne2 billede billede emne4"
      "emne6 billede billede emne5";
    grid-area: fremvisning;
  }

  .billede {
    grid-area: billede;
  }

  .emne1 {
    grid-area: emne1;
    align-self: center;
    justify-self: center;
  }

  .emne2 {
    grid-area: emne2;
    align-self: center;
    justify-self: flex-end;
  }

  .emne4 {
    grid-area: emne4;
    align-self: center;
    justify-self: flex-start;
  }

  .emne5 {
    grid-area: emne5;
    align-self: center;
    justify-self: flex-start;
  }

  .emne6 {
    grid-area: emne6;
    align-self: center;
    justify-self: flex-end;
    margin-inline-start: 0px;
    margin-inline-end: 0px
  }

  .forklaring {
    grid-area: forklaring;
  }




  /* ---------- Velkomst billede ---------------*/

  #velkomst-billede {
    height: 500px;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  /* Hover =============================== */

  #udforsk {
    display: block;
  }


  .firstLetter {
    color: var(--f3);
  }

  .fl {
    font-size: 1.5em;
    font-family: blakely, sans-serif;
    ;
  }

  .hoverInfo {
    display: none;
    height: 500px;
    width: 500px;
    background-image: url(../img/beskrivBlobLR.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left;
  }

  .hoverInfo .beskriv-text {
    padding: 10% 60px 0 60px;
  }

  .beskriv-text p {
    text-align: left;
    font-size: 14pt;

  }

  /* ---------- hover font ---------------*/

  #emne2:hover {
    font-size: 2.7em;
    font-family: ccmonstermash, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: var(--f6);
  }

  #farverig .beskriv-text h3 {
    font-size: 3em;
    font-family: ccmonstermash, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: var(--f6);
  }

  #emne1:hover {
    font-size: 2.5em;
    line-height: 43px;
    font-family: typeka, sans-serif;
    font-weight: 700;
    font-style: normal;
    color: var(--f3);
  }

  #analyserende .beskriv-text h3 {
    font-size: 2em;
    line-height: 43px;
    font-family: typeka, sans-serif;
    font-weight: 700;
    font-style: normal;
    color: var(--f3);
  }


  #emne4:hover {
    font-size: 3em;
    font-family: p22-stanyan, sans-serif;
    font-weight: 700;
    font-style: normal;
    color: var(--f6);
  }

  #glad .beskriv-text h3 {
    font-size: 3em;
    font-family: p22-stanyan, sans-serif;
    font-weight: 700;
    font-style: normal;
    color: var(--f6);
  }

  #emne5:hover {
    font-size: 2.1em;
    line-height: 40px;
    font-family: decoy, serif;
    font-weight: 700;
    font-style: normal;
    color: var(--f6);
  }

  #empatisk .beskriv-text h3 {
    font-size: 2.1em;
    margin-top: 10px;
    line-height: 40px;
    font-family: decoy, serif;
    font-weight: 700;
    font-style: normal;
    color: var(--f6);
  }

  #emne6:hover {
    font-size: 3.2em;
    line-height: 50px;
    font-family: desire-pro, serif;
    font-weight: 400;
    font-style: normal;
    color: var(--f6);
  }

  #ansvar .beskriv-text h3 {
    font-size: 3.2em;
    line-height: 50px;
    margin-top: 10px;
    font-family: desire-pro, serif;
    font-weight: 400;
    font-style: normal;
    color: var(--f6);
  }

   /* kompetancer =============================== */

  .kompB {
    height: 95%;
  }

  .kompFig {
    height: 400px;
    width: 400px;
    padding: 1em;
    margin-bottom: 5em;
  }

   /* Portforlio =============================== */

  .project-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .project-grid>div figure {
    height: 18em;
    width: 18em;
  }

  .project-grid>div figcaption {
    background-color: #f257a0a6;
    height: 20%;
    width: 100%;
    padding: 0.5em 0 0 0;
    display: none;
    transition: 0.5s;
  }
  
  .project-grid>div:hover figcaption {
    display: block;
  }

  .project-grid>div figure a {
    align-self: center;
    font-weight: 700;
    color: var(--bgc);
    text-decoration: underline;
    padding: 0;
  }
  
  .project-grid>div figure .portfolio-title {
    display: block;
    color: var(--f3);
    font-size: 1em;
    text-align: left;
    padding-left: 1em;
    margin-top: 5em;
  }

  .project-grid>div figure .long-title {
    margin-top: 6.5em;
    font-size: 0.8em;
  }

  .project-grid>div figure .long-title-kategori {
    font-size: 0.8em;
    margin-left: -0.4em;
  }
  
  .project-grid>div figure .porfolio-kategori {
    display: block;
    color: var(--f3);
    font-size: 0.5em;
    text-align: left;
    padding-left: 2em;
  }

  /* Portfolio Modal =================================== */

  .portfolio-modal {
    top: 5em;
    bottom: 5em;
    right: 10em;
    left: 10em;
    transition: 0.5s;
  }

  .modal-close {
    top: 5em;
    left: 10.5em;
    transition: 0.5s;
  }

  .modal-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .modal-grid img {
    padding: 2em 0 0 0;
  }

  .mockup1 {
    justify-self: flex-end;
  }

  .mockup2 {
    justify-self: flex-start;
  }

  .modal-grid>.modal-stats {
    padding: 0 0 0 5em;
  }

  .modal-grid>.modal-beskrivelse {
    padding: 0 5em 0 0;
    margin-left: -10em;
  }

}

@media (max-width: 1400px) and (min-width: 950px) {

  body {
    padding: 1em;
  }

  h1 {
    font-size: 4em;
  }
  
  h2 {
    font-size: 2em;
  }
  
  h3 {
    font-size: 2em;
  
  }
  
  h4 {
    font-size: 1.2em;
  }

  .portfolio-modal {
    top: 5em;
    bottom: 5em;
    right: 5em;
    left: 5em;
    transition: 0.5s;
  }

  .modal-close {
    top: 5em;
    left: 4.5em;
    transition: 0.5s;
  }

  .modal-grid>.modal-beskrivelse {
    padding: 0 5em 0 0;
    margin-left: 0em;
  }
 


  .project-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3em;
    margin-top: 3em;
  }
  
  .project-grid>div figure {
    display: block;
    border: 5px solid var(--f1);
    cursor: pointer;
    text-align: center;
    height: 26em;
    width: 26em;
  }

  .project-grid>div figure .portfolio-title {
    display: block;
    color: var(--f3);
    font-size: 1em;
    text-align: left;
    padding-left: 1em;
    margin-top: 8.5em;
  }


}